<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Nikhil Mathihalli</li>
          <li><a class="u-email" href="mailto:nikhil.m@berkeley.edu">nikhil.m@berkeley.edu</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/nikhilmathihalli" target="_blank">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/nikhil-mathihalli/" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>&copy; 2025 Nikhil Mathihalli. Built with passion and lots of coffee ☕</p>
      </div>
    </div>
  </div>
</footer>

